* {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif!important;
    letter-spacing: .3px;
    color: #47525d;
    font-weight: 100;
}

body {
    background: #f6f9fc;
    margin: 0;
}

div.card {
    border: 1px solid rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
    margin: 0 0 10px 0;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    display: block;
}

/* Header CSS */
div.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 1em 0;
    background-color: #fff;
}

h1.header-title {
    margin: 0;
}

div.header-container div.view-mode-selector {
    display: flex;
    width: 100%;
    margin: .5em 0;
}

div.header-container div.view-mode-selector a.view-mode-option {
    margin-right: 1em;
    text-decoration: none;
}

div.header-container div.view-mode-selector a.view-mode-option.-selected {
    text-decoration: underline;
}

/* End of Header CSS */

/* Task Board CSS */
div.task-board {
    width: 100%;
    height: calc(100vh - 97px);
    display: flex;
    flex-direction: column;
}

div.task-board div.task-board-options {
    display: flex;
    background-color: #fff;
    padding: 0 1em .5em;
    flex-shrink: 0;
}

div.task-board div.task-board-options div.view-type-selector {
    display: flex;
}

div.task-board div.task-board-options div.view-type-selector div.view-type-choice {
    margin-right: .5em;
    cursor: pointer;
}

div.task-board div.task-board-options div.view-type-selector div.view-type-choice.-selected {
    text-decoration: underline;
}

div.task-board div.hide-closed-tasks {
    margin-left: .5em;
}

div.task-board div.task-board-tag-selector-container {
    display: flex;
    margin-left: 1em;
}

div.task-board div.task-board-tag-selector-container div.tokenizer-container {
    margin-left: .5em;
}

div.task-board div.full-column-container div.columns-container {
    display: flex;
    flex-direction: row;
}

div.task-board div.column-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: .5em;
}

div.task-board div.column-container.drop-container {
    background-color: rgba(0, 0, 0, .04);
}

div.task-board div.draggable-task.-hidden {
    display: none;
}

div.task-board .task,.task-title {
    text-overflow: ellipsis;
    overflow-x: hidden;
}

/* End of Task Board CSS */

/* Task view CSS */
.task-id {
    font-weight: bolder;
    text-decoration: underline;
}

.task-title {
    font-weight: bold;
}

.task .task-columns {
    display: flex;
}

.task-columns .main-column {
    width: 100%;
}

.task-columns .task-color {
    width: 3px;
    flex-shrink: 0;
    margin: -20px 17px -20px -20px;
}

/* Unknown */
.task-color.-p0 {
    background-color: #8b4513;
}

/* Highest */
.task-color.-p500 {
    background-color: #f0f;
}

/* High */
.task-color.-p400 {
    background-color: #f00;
}

/* Normal */
.task-color.-p300 {
    background-color: #ffa500;
}

/* Low */
.task-color.-p200 {
    background-color: #228b22;
}

/* Lowest */
.task-color.-p100 {
    background-color: #6495ed;
}

/* Open */
.task-color.-s0 {
    background-color: #228b22;
}

/* In Progress */
.task-color.-s500 {
    background-color: #6495ed;
}

/* Blocked */
.task-color.-s750 {
    background-color: #f00;
}

/* Closed */
.task-color.-s1000 {
    background-color: #8b4513;
}

div.task-tags-container {
    display: flex;
}

div.task-tags-container div.tag {
    margin-left: .25em;
    padding: .1em .25em;
}
/* End of Task view CSS */

/* Detail view CSS */

/* End of Detail view CSS */
div.detail-container {
    background-color: #fff;
    padding: .5em;
    overflow-wrap: break-word;
}

div.detail-container div.title {
    font-weight: bold;
}

div.detail-container div.options-container {
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
}

div.detail-container div.options a {
    padding: 0 .25em;
    cursor: pointer;
}

div.detail-container div.time-info {
    padding-top: .25em;
}

/* Task Detail view CSS */
div.detail-container div.task-status {
    display: flex;
    padding-top: .25em;
}

div.detail-container div.task-status div {
    margin-right: .5em;
}

div.detail-container div.task-status div.info-container {
    display: flex;
}

div.detail-container div.task-status div.task-color {
    height: 22px;
    width: 1em;
    margin-right: .25em;
    margin-left: -.25em;
}
/* End of Task Detail view CSS */

/* Start of Tag Detail view CSS */
div.detail-container div.options-container.tag-options-container {
    text-decoration: none;
}

div.detail-container div.options {
    text-decoration: underline;
}

div.detail-container div.all-child-names {
    display: flex;
    align-items: center;
}

div.detail-container div.all-child-names div.tag {
    padding: 1px .25em;
    margin-left: .25em;
    margin-bottom: 0;
}
/* End of Tag Detail view cSS */

/* Calendar CSS */
div.calendar {
    width: 100%;
}

div.calendar div.options {
    display: flex;
    background-color: #fff;
    padding: 0 1em .5em;
}

div.calendar div.options div.view-type-selector {
    display: flex;
    margin-left: .5em;
}

div.calendar div.options div.view-type-selector div.view-type-choice {
    margin-right: .5em;
    cursor: pointer;
}

div.calendar div.options div.view-type-selector div.view-type-choice.-selected {
    text-decoration: underline;
}

div.calendar div.options div.pagination-container {
    display: flex;
    margin-left: .5em;
}

div.calendar div.options div.pagination-container div.pagination-option {
    margin-right: .5em;
    cursor: pointer;
}

div.calendar div.tag-selector-container {
    display: flex;
    margin-left: 1em;
}

div.calendar div.tag-selector-container div.tokenizer-container {
    margin-left: .5em;
}


div.calendar div.full-column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 140px); /* 140px is the height of the header */
    padding: 0 2em;
}

div.calendar div.full-column-container div.header-and-content-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.calendar div.column-header-container {
    display: flex;
    margin-top: .5em;
    margin-right: 15px;
    text-align: center;
}

div.calendar div.column-header {
    min-width: 120px;
    flex-grow: 1;
    height: 22px;
}

div.calendar div.column-header.-times {
    max-width: 120px;
}

div.calendar div.column-header.single-day {
    min-width: 360px;
}

div.calendar div.all-columns-container {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
}

div.calendar div.column-container {
    flex-grow: 1;
    min-width: 120px;
    position: relative;
}


div.calendar div.column-container.-times {
    max-width: 120px;
}

div.calendar div.column-container table {
    width: 100%;
}

div.calendar div.column-container.single-day {
    min-width: 360px;
}

div.calendar div.column-container td {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    min-width: 120px;
    cursor: pointer;
}

div.calendar div.column-container.single-day td {
    min-width: 360px;
}

div.calendar div.column-container tr:nth-child(odd) td {
    border-bottom-style: dashed;
}

div.calendar div.column-container:first-child td {
    border-left: 1px solid rgba(0, 0, 0, .2);
    cursor: default; /* Prevents times from being click-able */
    vertical-align: top;
    text-align: right;
}

div.calendar div.column-container table tbody tr:first-child td {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

div.calendar div.rendered-event-container {
    position: absolute;
    width: 100%; /* Will need to change when we start overlaying */
}

div.calendar div.rendered-event-container div.card {
    padding: 1px .25em;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: 0;
    overflow-y: auto;
    height: 100%;
}

div.calendar div.column-container div.current-time-cursor {
    position: absolute;
    height: 3px;
    background-color: #dc322f;
    min-width: 120px;
    width: 100%;
    z-index: 2;
}

div.calendar div.column-container.single-day div.current-time-cursor {
    min-width: 360px;
}

div.calendar div.column-container tr td.-selected {
    background-color: rgba(0, 0, 0, .2);
    border: none;
}

div.calendar div.rendered-event-container div.draggable-event-end {
    cursor: ns-resize;
    width: 100%;
    height: 7px;
    margin-top: -3px;
}

div.calendar div.rendered-event-container div.tag.card {
    overflow-y: hidden;
}

/* End of Calendar CSS */

/* Event view CSS */
div.event-container {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow-x: hidden;
    height: 100%;
}

div.event-container div.name {
    flex-grow: 1;
}

div.event-card-container {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25em;
}

div.event-card-container div.card {
    margin: 0 0 0 .25em;
    padding: .1em .25em;
}

div.event-container div.task-id-card {
    cursor: pointer;
}
/* End of Event view CSS */

/* Tag graph CSS */
.tag-graph {
    margin: 1em 0;
}

.tags-root-container, .tag-children-container {
    border: 1px black solid;
}

.tag-children-container {
    margin-left: .5em;
}
/* End of Tag graph CSS */

/* General Tag CSS */
div.tag.card {
    cursor: pointer;
}
/* End of General Tag CSS */

/* Tokenizer CSS */
div.tokenizer-container {
    display: flex;
}

div.tokenizer-container div.pending-token-container {
    width: 100%;
}

div.tokens-container {
    display: flex;
    margin-right: .5em;
}

div.rendered-token {
    display: flex;
    padding: .1em .25em;
    margin-top: -3px;
    margin-bottom: 0;
}

div.rendered-token div.remove-token {
    margin-left: .25em;
    cursor: pointer;
}

div.tokenizer-container div.pending-state-container {
    width: 100%;
}

div.tokenizer-container div.autocomplete-token-container {
    position: absolute;
    background: #fff;
    border-radius: 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: none;
    z-index: 3;
}

div.tokenizer-container div.autocomplete-token-container div.autocomplete-token {
    padding: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

div.tokenizer-container div.autocomplete-token-container:last-child {
    border-bottom: none;
}

div.tokenizer-container div.autocomplete-token-container div.autocomplete-token:hover {
    cursor: pointer;
    background-color: #f6f9fc;
}

div.tokenizer-container div.autocomplete-token-container div.autocomplete-token.-selected {
    background-color: #f6f9fc;
}
/* End of Tokenizer CSS */

/* Modal CSS */
div.modal-container div.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 4;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.modal.card {
    min-width: 350px;
}

div.modal h3 {
    margin: 0;
}

div.modal-container div.cancel-button-container {
    cursor: pointer;
    float: right;
}

div.modal label {
    display: block;
    padding-top: .5em;
}

div.modal input,textarea,select {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .4);
    margin: 0;
    padding: 0;
}

div.modal input[type=button] {
    margin-top: .5em;
    height: 30px;
}

div.modal div.rendered-token {
    margin-top: 0;
}

div.modal div.checkbox-container {
    display: flex;
    align-items: center;
}

div.modal div.checkbox-container input {
    width: 30px;
    height: 15px;
    margin-top: 7px;
}
/* End of Modal CSS */

/* Multi-pane CSS */
div.merged-container {
    display: flex;
}

div.main-pane {
    max-width: 67%;
    min-width: 67%;

    height: calc(100vh - 97px);
    display: flex;
    flex-direction: column;
}

div.merged-task-container {
    display: flex;
    flex-grow: 1;
}

div.right-pane {
    max-width: 33%;
    min-width: 33%;
}

/* Ad-hoc fixes for tasks */
div.main-pane div.task-board {
    height: auto;
}

div.main-pane div.task-board div.full-column-container {
    overflow-y: auto;
}

/* Ad-hoc fixes for calendar */
div.right-pane div.calendar div.full-column-container {
    padding: 0;
}

div.right-pane div.calendar div.tag-selector-container {
    margin-left: 0;
}

div.right-pane div.calendar div.column-header {
    min-width: 0;
}

div.right-pane div.calendar div.column-header.single-day {
    min-width: 0;
}

div.right-pane div.calendar div.column-container {
    min-width: 0;
}

div.right-pane div.calendar div.column-container td {
    min-width: 0;
}

div.right-pane div.calendar div.column-container.single-day {
    min-width: 0;
}

div.right-pane div.calendar div.column-container.single-day td {
    min-width: 0;
}

div.right-pane div.calendar div.column-container.single-day div.current-time-cursor {
    min-width: 0;
}

div.right-pane div.calendar div.column-container.-times {
    max-width: 64px;
}

div.right-pane div.calendar div.column-header.-times {
    max-width: 64px;
}

div.right-pane div.calendar div.options div.pending-token-container input {
    width: 100%;
}

div.right-pane div.calendar div.options div.tag-selector-label {
    flex-shrink: 0;
}
/* End of Multi-pane CSS */