body {
    background: #fbf6e3;
    color: #657b83;
}

div.card {
    border: 1px solid rgba(0, 0, 0, .04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .03);
    margin: 0 0 10px 0;
    padding: 20px;
    border-radius: 3px;
    background: #eee8d5;
    color: #586e75;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    display: block;
}

/* Header CSS */
div.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1.header-title {
    margin: 0;
}

div.header-container div.view-mode-selector {
    display: flex;
    width: 100%;
    margin: .5em 0;
}

div.header-container div.view-mode-selector a.view-mode-option {
    margin-right: 1em;
    text-decoration: none;
    color: #657b83;
}

div.header-container div.view-mode-selector a.view-mode-option.-selected {
    text-decoration: underline;
}

/* End of Header CSS */

/* Task Board CSS */
div.task-board {
    width: 100%;
}

div.task-board div.task-board-options {
    display: flex;
}

div.task-board div.task-board-options div.view-type-selector {
    display: flex;
}

div.task-board div.task-board-options div.view-type-selector div.view-type-choice {
    margin-right: .5em;
    cursor: pointer;
}

div.task-board div.task-board-options div.view-type-selector div.view-type-choice.-selected {
    text-decoration: underline;
}

div.task-board div.hide-closed-tasks {
    margin-left: .5em;
}

div.task-board div.task-board-tag-selector-container {
    display: flex;
    margin-left: 1em;
}

div.task-board div.task-board-tag-selector-container div.tokenizer-container {
    margin-left: .5em;
}

div.task-board div.full-column-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 768px;
}

div.task-board div.column-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: .5em 1em;
}

div.task-board div.column-container.drop-container {
    background-color: rgba(0, 0, 0, .04);
}

div.task-board div.draggable-task.-hidden {
    display: none;
}

/* End of Task Board CSS */

/* Task view CSS */
.task-id {
    font-weight: bolder;
    text-decoration: underline;
}

.task-title {
    font-weight: bold;
}

div.task-tags-container {
    display: flex;
}

div.task-tags-container div.tag {
    margin-left: .25em;
    padding: .1em .25em;
}
/* End of Task view CSS */

/* Calendar CSS */
div.calendar {
    width: 100%;
}

div.calendar div.options {
    display: flex;
}

div.calendar div.options div.view-type-selector {
    display: flex;
    margin-left: .5em;
}

div.calendar div.options div.view-type-selector div.view-type-choice {
    margin-right: .5em;
    cursor: pointer;
}

div.calendar div.options div.view-type-selector div.view-type-choice.-selected {
    text-decoration: underline;
}

div.calendar div.options div.pagination-container {
    display: flex;
    margin-left: .5em;
}

div.calendar div.options div.pagination-container div.pagination-option {
    margin-right: .5em;
    cursor: pointer;
}

div.calendar div.tag-selector-container {
    display: flex;
    margin-left: 1em;
}

div.calendar div.tag-selector-container div.tokenizer-container {
    margin-left: .5em;
}


div.calendar div.full-column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.calendar div.full-column-container div.header-and-content-container {
    resize: both;
    overflow: hidden;
    height: 660px;
    display: flex;
    flex-direction: column;
}

div.calendar div.column-header-container {
    display: flex;
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
}

div.calendar div.column-header {
    min-width: 120px;
    flex-grow: 1;
    height: 20px;
}

div.calendar div.column-header.-times {
    max-width: 120px;
}

div.calendar div.column-header.single-day {
    min-width: 360px;
}

div.calendar div.all-columns-container {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: .5em;
}

div.calendar div.column-container {
    flex-grow: 1;
    min-width: 120px;
    position: relative;
}


div.calendar div.column-container.-times {
    max-width: 120px;
}

div.calendar div.column-container table {
    width: 100%;
}

div.calendar div.column-container.single-day {
    min-width: 360px;
}

div.calendar div.column-container td {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    min-width: 120px;
    cursor: pointer;
}

div.calendar div.column-container.single-day td {
    min-width: 360px;
}

div.calendar div.column-container tr:nth-child(odd) td {
    border-bottom-style: dashed;
}

div.calendar div.column-container:first-child td {
    border-left: 1px solid rgba(0, 0, 0, .2);
    cursor: default; /* Prevents times from being click-able */
    vertical-align: top;
    text-align: right;
}

div.calendar div.column-container table tbody tr:first-child td {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

div.calendar div.rendered-event-container {
    position: absolute;
    width: 100%; /* Will need to change when we start overlaying */
}

div.calendar div.rendered-event-container div.card {
    padding: 1px .25em;
    margin-left: 1px;
    margin-right: 2px;
    margin-bottom: 0;
    overflow-y: auto;
    height: 100%;
}

div.calendar div.column-container div.current-time-cursor {
    position: absolute;
    height: 3px;
    background-color: #dc322f;
    min-width: 120px;
    width: 100%;
    z-index: 2;
}

div.calendar div.column-container.single-day div.current-time-cursor {
    min-width: 360px;
}

div.calendar div.column-container tr td.-selected {
    background-color: #eee8d5;
    border: none;
}

div.calendar div.rendered-event-container div.draggable-event-end {
    cursor: ns-resize;
    width: 100%;
    height: 7px;
    margin-top: -3px;
}

div.calendar div.rendered-event-container div.tag.card {
    overflow-y: hidden;
    background: #fbf6e3;
    color: #657b83;
}

/* End of Calendar CSS */

/* Event view CSS */
div.event-container {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    overflow-x: hidden;
    height: 100%;
}

div.event-container div.name {
    flex-grow: 1;
}

div.event-tags-container {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25em;
}

div.event-tags-container div.tag {
    margin: 0 0 0 .25em;
    padding: .1em .25em;
}
/* End of Event view CSS */

/* Tag graph CSS */
.tag-graph {
    margin: 1em 0;
}

.tags-root-container, .tag-children-container {
    border: 1px black solid;
}

.tag-children-container {
    margin-left: .5em;
}
/* End of Tag graph CSS */

/* Tokenizer CSS */
div.tokenizer-container {
    display: flex;
}

div.tokens-container {
    display: flex;
    margin-right: .5em;
}

div.rendered-token {
    display: flex;
    margin-left: .25em;
    padding: .1em .25em;
}

div.rendered-token div.remove-token {
    margin-left: .25em;
    cursor: pointer;
}
/* End of Tokenizer CSS */

/* Modal CSS */
div.modal-container div.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);

    display: flex;
    align-items: center;
    justify-content: center;
}

div.modal-container div.cancel-button-container {
    cursor: pointer;
    float: right;
}
/* End of Modal CSS */